* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    overflow-x: hidden;
}
section {
    height: auto;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}

nav h1 {
    font-size: 40px;
}

nav h4 {
    font-size: 20px;
    font-weight: 300;
}

nav button {
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
}

#part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.center {
    padding: 0px 90px;
    height: 80%;
    width: 100%;
    display: flex;
}

.center-part1 {
    height: 100%;
    width: 45%;
}

.center-part2 {
    height: 100%;
    width: 55%;
    position: relative;
}

.center-part1 h1 {
    line-height: 1;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center-part1 p {
    font-size: 25px;
    width: 95%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
}

.center-part1 button {
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;

}

.center-part2 img {
    height: 500px
}

.section1bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 130px; */
    padding: 30px 120px;
}

.section1bottom img {
    height: 80px;
}

.section2 .services {
    padding: 50px 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.services h3 {
    background-color: #9ae975;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    font-size: 45px;
}

.services p {
    width: 40%;
    font-size: 20px;
    margin-left: 40px;
}

.container {
    height: 85%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.elem {
    height: 400px;
    width: 48%;
    border: 3px solid black;
    box-shadow: 0px 15px 0 black;
    flex-shrink: 0;
    padding: 60px;
    margin: 60px 0px;
    border-radius: 50px;
    display: flex;
}
.elem-part1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.elem-part2 {
    height: 100%;
    width: 50%;

}
.elem-part2 img {
    height: 100%
}
.elem-part1 h2 {
    font-size: 30px;
    width: 90%;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: #9ae975;
    font-weight: 500;
}
.elem-part1 h4 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    gap: 15px;
}
.elem-part1 h4 i {
    padding: 25px;
    background-color: black;
    color: white;
    border-radius: 50%;


}
.black {
    background-color: black;
    color: black;
}
.black h2 {
    background-color: white;
}
.black h4 i {
    background-color: white;
    color: black;
}